.streamerList {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2em;
  @media(min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;

  }

  > div {
    box-shadow: 0px 0px 8px black;

  }

  .link {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2f2f2f;
    padding: 1em 0;
    color: white;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    transition: .3s all;
    overflow: hidden;

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
      opacity: .8;
    }
  }
}