.streamerItem {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background: #494949;
  color: white;

  .name {
    font-weight: 700;
    font-size: 2em;
  }

  .description {
    font-size: 1.2em;
  }

  .platform {
    font-size: 1.1em;
    font-weight: 600;
  }

  .votes {
    display: flex;
    gap: 20px;

    button {
      margin-right: 10px;
    }
  }

  .like, .dislike {
    display: flex;
    gap: 5px;

  }

  .like {

    color: green;
  }

  .dislike {
    color: red;
  }

  a {
    transition: .3s all;

    &:hover {
      cursor: pointer;
      opacity: .5;
    }

    background-color: transparent;

    img {
      width: 20px;
      height: 20px;
    }
  }
}